<!DOCTYPE html>
<html lang="en-us">
<head>
	<% include templates/head.ejs %>
</head>
<body class="container"> 
        <% include templates/navbar.ejs %>
    <div class="row">
	    <div class="panel panel-default col-md-10 col-md-offset-1">
        <h1>Welcome to dashboard!</h1>
      </div>
   </div>
<% include templates/footer.ejs %>
</body>
</html>
