<!DOCTYPE html>
<html lang="en-us">
<head>
	<% include templates/head.ejs %>
</head>
<body class="container">
    <% include templates/navbar.ejs %>
	<div class="main-container">
        <div class="jumbotron">
            <h1>Hi there!</h1>
            <p>Let's have fun with  node.js &amp; express js!</p>
            <p><a class="btn btn-primary btn-lg" href="/login" role="button">Login to dashboard</a></p>
        </div>
		
	</div>
<% include templates/footer.ejs %>
</body>
</html>
